body{
  width: 100%;
  background-color: #202020;
  color:white;
  margin: 0;
  padding: 0;
  font-family: arial;
}

header{
  text-align: center;
}

.clearfix {
  clear: both;
}

h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

h2{
}

#container{
  background: #202020;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
}

/*Slideshow*/
.slidebilde{
  border: 15px solid #e280b0;
  border-radius: 10px;
}
@media only screen and (max-width: 900px){
  #container{
    width: 900px;
  }
}

header{
  background: url(../img/raffa.jpg);
  width: 100%;
  color: black;
}

#lagd_av{
  text-align: center;

}

#slideshow-container {
  padding-top: 20px;
}

#slideshow-container img {
  border-radius: 10px;
}

.mySlides{
  float: center;
  width: 800px;
  height: auto;
  padding: 0;
  margin:auto;
}

#dots {
  margin:auto;
}

/*Her kommer CSS fra spillere.html*/
.spillerel{
  border: 1px solid #e280b0;
  border-radius: 30px;
  float: left;
  background-color: #e280b0;
  text-align: center;

}

@media only screen and (max-width: 640px){
  #spillere {
    width: 620px;
  }
  h2 {
    width: 620px;
  }
}

.spiller{
  width: 80%;
  text-align: left;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  border: 2px solid black;
  font-size: 16px;
  background-color: #303030;
  display: inline-block;
}


.spiller img{
  float: left;
  margin-right: 10px;
  width: 200px;
  border-radius: 15px;
}


section{
  padding: 0 5%;
}
  section h2{
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 5px 2px black;

  }


/*CSS til slideshow på index.html*/
/* Mye hentet fra https://www.w3schools.com/howto/howto_js_slideshow.asp*/
/* Slideshow container */
.slideshow-container {
  float: center;
  height: 800px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


/*kalender.html*/
#kalender_container{
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #e280b0;
  border-radius: 30px;
  float: left;
  background-color: #e280b0;
}
#kalender_tabell {
  float:left;
  width: 75%;
  margin: 20px;
  background-color:#303030;
}

#kalender_sosialt {
  float: right;
  background: #303030;
  height: 100%;
  width: 20%;
  padding: 15px;
  margin: 20px 20px 20px 0;
  border-radius: 15px;
  border: solid black;
}

table {
  font-family: arial;
  text-align: left;
  font-size: 17px;
}

/*For footeren som skal gå igjen i alle sider*/

@media screen and (max-width: 630px) {
  .col-3 {
    width: 100%;
  }
}

footer {
  background-color: black;
  width: 100%;
  padding-bottom: 10px;
  display: inline-block;
  margin: 0;
  margin-top: 40px;
}

footer p {
  color: #bbb;
  margin: 0 0 10px;
  font-size: 0.8em;
  color: white;
}

#footer{
  text-align: center;
}

#footer-container-liten-skrift, #footer-container {
  max-width: 700px;
  display: inline-block;
  margin-left: 20px;
}

#liten-skrift {
  font-size: 12px;
}


.col-3{
  display: inline-block;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.col-3{
  width: 24%;
}

/*kampreferat.html*/
#kampreferat_container {
  width: 80%;
  margin-left: 10%;
  border: 1px solid #e280b0;
  border-radius: 30px;
  float: left;
  background-color: #e280b0;
}

.kampreferat_innhold {
  display: flex;
  margin: 3%;
  width: 94%;
  border: solid black;
  background: #303030;
  border-radius: 15px;
}

.kampreferat_bilde_container {
  height: 100%;
}

.kampreferat_bilde {
  width: 200px;
  position: relative;
  margin: 20px;
  border-radius: 15px;
}

.kampreferat_tekst {
  height: 100%;
  margin-bottom: 20px;
}

#more1,#more2 {
  display: none;
}

#oppdateringer {
  text-align: center;
}


/* Nå kommer masse CSS til navbaren*/
ul#navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e280b0;
  text-align: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

@media only screen and (max-width: 640px){
  ul#navbar{
    width: 620px;
  }
}

#navbar li{
  display: inline-block;
  font-size: 20px;
  font-family: arial;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #e896bd;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c16291;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #db0075; /*endrer denne noen av fargene?*/
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul#navbar a:hover:not(.active) {
  background-color: #ffccd5;
  color: black;
}

li a.active {
  background-color: #ff9400;
  color:white;
}



/*For kontakt.html*/
.container{
  float: center;
  border-radius: 20px;
  background-color: #e280b0;
  width: 800px;
  margin: auto;
  padding: 50px;
  border: 2px solid black;
}

.form{
  float: center;
  text-decoration: none;

}

#forms{
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  border: 2px solid black;
  font-size: 16px;
  background-color: #303030;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}

input{
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  background-color:#404040;
}

input:active{
  border-color: blue;
}

textarea{
  margin: 8px 0;
  border-radius: 4px;
  max-width: 100%;
}

input[type=submit]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#beskrivelse{
  background-color:#404040;
}

/*Om.html*/
p #omoss{
  font-size: 16px;
}




/*Media-queries*/
@media screen and (max-width: 80%){
    .nav{
        position: absolute;
        float: none;
    }
}



/*Tabell delen*/
ul, li {
  margin: 0px;
  list-style-type: none;
}

input {
  display: block;
  outline: none;
  border: none;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: black;
}



iframe {
  border: none !important;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1170px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 10px;
}
table thead tr {
  max-height: 50px;
  background: #323954;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

tr a:link {
  text-decoration: none;
}

tr a:visited {
  text-decoration: none;
}

tr a:hover {
  text-decoration: underline;
}

tr a:active {
  text-decoration: underline;
}

.table100-head th{
  font-family: arial;
  font-size: 18px;
  color: white;
  line-height: 1.2;
  font-weight: unset;
  height: 50px;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: arial;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #ccc;
  cursor: pointer;
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  width: 160px;
  padding-right: 62px;
}

.column3 {
  width: 245px;

}

.column4 {
  width: 170px;
  text-align: center;
}

.column5 {
  width: 170px;
  text-align: center;
}

.column6 {
  width: 170px;
  text-align: center;


}
.column7 {
  width: 170px;
  text-align: center;
}

#gull {
  background-color: #ffdf32;
}

#sølv {
  background-color: #c4cace;
}

#brons {
  background-color: #cea972;
}

#logo{
  width:300px;
  height:300px;
  z-index: -1
}

@media (max-width: 576px) {
  .container-table100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/*Om oss*/


#nyedrakter{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display:block;
}

#swap{
  position: fixed;
  margin-top:15px;
  margin-right:10px;
  top: 0;
  right: 0;
  width: 150px;
  z-index:2;
  background-color: pink;
  color:white;
  border: 2px solid black;
}

@media only screen and (max-width: 900px){
#swap{
  display: none;
  }
}


/*Sosialt*/
.big {
    width: 80%;
    margin-left: 7%;
    padding:30px;
    text-align: center;
    border: 1px solid #e280b0;
    border-radius: 30px;
    float: left;
    background-color: #e280b0;
    text-align: center;
}

.small {
    background: #303030;
    margin: 1%;
    width: 25%;
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    height: 400px;
}

.small img{
  max-width:100%;
  max-height:100%;
}
