#container{
  background: #f2B7D3;
  margin: 0 5%;
  width: 90%;
  font-family: sans-serif;
  font-size: 20px;
  border: 5px groove;
}

header{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}



h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2{
  text-align: center;
}

section{
  border: 1px solid;
  padding: 40px;
  padding-left: 50px;
  margin: 40px;
}

main{
  border: 1px solid;
  padding: 40px;
  padding-left: 50px;
  margin: 40px;
}

#article{
  margin: 20px;
  padding: 10px;
  text-align: center;
  display: block;
  border: 1px solid;
}

footer{
  margin: 20px;
  padding: 20px;
}

img{
  width: 80%;
}

table {
  border-spacing: 5px;

}

table, th, td {
  border: 1px solid black;
}

th {
  text-align: left;
}

th, td {
  padding: 15px;
}
